/*Sidebar scrollbar  start*/
.custom-scrollbar-sidebar {
    height: 90vh;
    overflow: auto;
}

.custom-scrollbar-sidebar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/*scrollbar site icone*/
.custom-scrollbar-sidebar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

/*Sidebar scrollbar  End*/

/*Content scrollbar  start*/
.custom-scrollbar {
    height: 61vh;
    overflow: auto;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/*scrollbar site icone*/
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

/*Content scrollbar  End*/



/* table start */

th i {
    color: #cdd4e0;
    padding: 5px;
}

.icons a {
    padding: 5px;
}

.icons .print {
    color: #e6190b !important;
}

.icons .view i {
    color: #000 !important;
}

.icons .edit i {
    color: #d5e219 !important;
}

.icons .delete i {
    color: #e40a0a !important;
}

td:last-child {
    text-align: end;
}

th:last-child {
    text-align: end;
}